@mixin wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin center {
  justify-content: center;
  align-items: center;
}

@mixin regular {
  font-family: "Barlow-Regular", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

@mixin bckg-elements {
  width: 700px;
  height: 700px;
  border-radius: 65px;
  animation: bckg-starter 0.6s ease-out forwards;
  position: absolute;
}
