:root {
  --g: #ff1e4c;
  --g-: #ff3947;
  --g--ff5543: #ff5543;
  --f: #ff703e;
  --f-: #ff8235;
  --f--ff942d: #ff942d;
  --e: #ffa624;
  --e-: #ffb718;
  --e--ffc90c: #ffc90c;
  --d: #ffda00;
  --d-: #e4d71e;
  --d--cad43c: #cad43c;
  --c-accentuation-2: #afd15a;
  --c-: #75cd5d;
  --c--3ac85f: #3ac85f;
  --b: #00c462;
  --b-: #00b869;
  --b--00ac6f: #00ac6f;
  --a: #00a076;
  --a-: #00a890;
  --a--00afaa: #00afaa;
  --black: #324640;
  --dark-grey: #7b8a80;
  --medium-grey: #adb6b0;
  --grey: #dee3e0;
  --background: #f3f3f3;
  --accentuation-1: #41c3a9;
  --electricity_light: #ffdf5c;
}
